# 全ファイルを無視する
*

!.gitignore
!.gitkeep

!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/.github/dependabot.yml
!/.github/zizmor.yml

!*.ts
!*.tsx
!*.md

!/src/
!/src/**/
!/src/**/*.json
!/src/**/__snapshots__/
!/src/**/__snapshots__/*.snap

!/.editorconfig
!/.ncurc.cjs
!/.npmrc
!/biome.jsonc
!/bumpver.toml
!/commitlint.config.cjs
!/lefthook.yaml
!/LICENSE
!/mise.toml
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/rolldown.config.ts
!/tsconfig.json
!/vitest.config.ts
