name: Build

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - ".vscode/**"
      - "LICENSE"
      - "*.md"
      - "lefthook.yaml"
  pull_request:
    paths-ignore:
      - ".vscode/**"
      - "LICENSE"
      - "*.md"
      - "lefthook.yaml"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '[skip build]') == false

    strategy:
      matrix:
        node-version: [22]

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false
          version: latest

      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Setup safe-chain
        run: |
          curl -fsSL https://raw.githubusercontent.com/AikidoSec/safe-chain/main/install-scripts/install-safe-chain.sh | sh -s -- --ci

      - name: Install latest npm
        run: |
          echo "Current npm version: $(npm -v)"
          npm install -g npm@latest
          echo "Updated npm version: $(npm -v)"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run biome migrate
        run: pnpm biome migrate --write

      - name: Run Build
        run: pnpm run build

      - name: Check package.json
        run: pnpm run check:packagejson

      - name: Run Linter & Formatter
        run: pnpm biome ci .

      - name: Run Typescript check
        run: pnpm run check

      - name: Run Unit tests
        run: pnpm run test:unit
